h1 {
    text-align: center;
    color: ghostwhite;
    font-style: italic;

  }
  
  img {
    height: 50px;
    width: 50px;
    border-radius: 20px;
  }
  
  p {
    font-family: calibri;
    font-size: 200px;
    color: ghostwhite;
  }
